/* The webpage overall styling */

/*  This is for styling the main container that holds everything */



/* This styles the navbar and its contents */

/* This styles the button in the 3D description*/

#aSide {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 250px);
    right: 7%;
   
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 80px;
    left: 0;
    border: none;
}


  .container1 {
    width: 80vw;
    max-width: 37.5em;
    background-color: #42a1ff;
    padding: 3em 1.8em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.6em 2.5em rgba(0, 7, 70, 0.2);
  }
 
  #location-details {
    font-size: 1.75em;
    text-align: center;
    margin: 1em 0 1.7em 0;
    color: #021d38;
    font-weight: 500;
  }
  .container1 button {
    display: block;
    margin: auto;
    background-color: #42a1ff;
    color: #42a1ff;
    border: none;
    font-size: 1.25em;
    padding: 1em 2.5em;
    border-radius: 0.25em;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .wrapper{
    max-width: 450px;
    margin: 45px auto;
  }
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
  }



  
